body {
	background-image: url(https://www.nickfarina.co.uk/welcome-to-my-site.gif);
	animation-name: colors;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	font-size: 40px;
	font-family: "Cursive";
	color: #ff00ff;
}

a {
	color: #00ff00;
}

#topbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

#topbar li {
	display: block;
	padding: 15px;
	display: inline;
}

#topbar li:hover {
	background-color: #000000;
}

#logo {
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#liekki {
	width: 100%;
}

@keyframes colors {
	0% {background-color: red;}
	12% {background-color: green;}
	24% {background-color: blue;}
	36% {background-color: yellow;}
	48% {background-color: brown;}
	60% {background-color: cyan;}
	72% {background-color: green;}
	84% {background-color: red;}
	96% {background-color: pink;}
	100% {background-color: brown;}
}

@keyframes spin {
        from {
            transform: rotate(0deg);
        } to {
            transform: rotate(360deg);
        }
    }
