.Song img {
	width:30px;
}

body {
	background-attachment: fixed;
	background-image: url(pics/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: hidden;
}

#ikkuna {
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 20px 5px #0000001A;
	-webkit-backdrop-filter: blur(10px);
	border: none;
	border-radius: 32px;
	overflow: hidden;
	width: 86vw;
	height: 43vw;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	display: flex;
	flex-direction: row;
	max-width: 1300px;
	max-height: 650px;
}

#linkit {
	display: flex; flex-direction: row;
	color: #404040;
	font-size: 1em;
	text-decoration: none !important;
	margin: 5% 30%;
}

#linkit a {
	text-decoration: none;
	color: #404040;
}

#musiclinkki:hover {
	background-color: rgba(255, 255, 255, 0.4);
	color: #000000;
}


@media (prefers-color-scheme: dark) {
	#ikkuna {
		background-color: rgba(0, 0, 0, 0.6);
		color: #ffffff;
	}
	#logo {
		filter: invert(100%);
	}
	#linkit {
		color: #c0c0c0;
	}
	#linkit a {
		color: #c0c0c0;
	}
	#musiclinkki:hover {
		background-color: rgba(0, 0, 0, 0.6);
		color: #ffffff;
	}
}

@media only screen and (orientation: portrait) {
	#ikkuna {
	flex-direction: column;
	max-width: none;
	max-height: none;
	width: 43vh;
	height: 86vh;
 	}
  	.puoli {
	width: 100% !important;
	height: 50% !important;
  	}
	#linkit {
	font-size: 1.5em !important;
	}
	#musiclinkki {
	width: 100% !important; height: 50% !important;
	top: 50% !important; left: 0 !important;
	font-size: 7vw !important;
	}
	#teksti {
	font-size: 1.7em !important;
	height: 40% !important;
	}
	#logo {
	width: 40% !important;
	}
}

a:active, a:focus {
	outline: none !important;
	text-decoration: none !important;
}

#vasenruutu {
	padding: 7%;
	width: 50%;
	height: 100%;
}

.puoli {
	height: 100%;
	width: 50%;
	border:;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#logo {
	width: 32%;
	margin: 0% auto;
	padding-bottom: 1.5%;
}

#coverit {
	width: 100%;
	height: 100%;
	display: flex; flex-direction: row; flex-wrap: wrap;
}

.cover {
	width: 50%; height: 50%;
}

.coverkuva {
	width: 100%;
}


#linkit a:hover {text-decoration: underline}
#linkit p {margin:0px auto 0px auto;}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#teksti {
	font-size: 1.1em;
	margin:;
	font-family: serif;
	overflow-y: auto;
	overflow-x: hidden;
	height: 50%;
}

#tekstip {
	margin: 0px;
}

#musiclinkki {
	width: 50%; height: 100%;
	background-color: #00000000;
	z-index: 1;
	position: absolute;
	top:0;
	left: 50%;
	transition: background-color 0.2s, color 0.2s;
	color: #FFFFFF00;
	font-family: serif;
	display: flex;
	justify-content: center;
	align-items: center;
}


#musicteksti {
	font-family: sans-serif;
	font-size: 5vw; 
}
