body {
	margin:20px auto;
	max-width:50em;
	width:100%;
	background-color:black;
	color:white;
	font-family: sans-serif;
}

h1 {
	text-align:center;
}

p {
	text-align:left;
}

img {
	max-height:50vh;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	color:#00bbff;
}

a:visited {
	color:#bb00ff;
}
